@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Our Courses</h1>

<ul>
    <li>
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank">
            ASP.NET Core MVC
        </a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/dotnet/csharp" target="_blank">
            C# Programming
        </a>
    </li>
    <li>
        <a href="https://learn.microsoft.com/sql" target="_blank">
            SQL & Database Fundamentals
        </a>
    </li>
</ul>