@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@* @{
    ViewData["Title"] = "Home";
} *@

<h1>Welcome to Training Portal</h1>

<p>
    The Training Portal is designed to help students learn
    industry-relevant skills through structured training programs.
</p>

<h3>What We Offer</h3>

<ul>
    <li>Beginner to advanced level courses</li>
    <li>Hands-on practical learning</li>
    <li>Guidance from experienced trainers</li>
</ul>

<p>
    Use the navigation menu above to explore available courses
    and contact us for more information.
</p>
